#root {
  margin: 0;
  padding: 0;
}

.three-demo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s;
  font-size: 32px;
  color: aliceblue;
  z-index: 999999;
}
